<h1>Sites Index</h1>
<%= link_to '新景點', new_admin_site_path %>

<ul>
  <% @sites.each do |site| %>
    <li>
      <%= site.name %>
      <%= link_to "修改", edit_admin_site_path(site) %>
    </li>
    <% if site.pictures.exists? %>
      <li>
        <% site.pictures.each do |pic| %>
          <%= image_tag (pic.image.url(:medium)) %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
